@use "colors" as colors;
@use "typography";

:root {
  font-size: 13px;
  background-color: colors.$gray-100;
}

.default-container {
  padding: 20px 13px;
}

.view-title {
  color: colors.$gray-500;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.skeleton {
  position: relative;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
     90deg,
     #e0e0e0 25%,
     #f5f5f5 50%,
     #e0e0e0 75%
  );
  background-size: 200% 100%;
  z-index: 11;
}
